<!-- The 'About' page -->

{% extends "layout.html" %}

{% block head %}
    <!-- Inherit from 'layout.html' -->
    {{ super() }}
{% endblock %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <!-- Background -->
    <img src="../static/images/trianglify_background.png" class="background position-fixed w-100 h-100 top-0 start-0" loading="lazy">
    <!-- End of Background -->
    <!-- Main Content -->
    <div class="container about mb-5 pb-5">
        <!-- Title -->
        <div class="row mb-3">
            <div class="col-md-12 text-center">
                <h1 class="page-title">ABOUT ME</h1>
            </div>
        </div>
        <!-- End of Title -->
        <!-- Row -->
        <div class="row flex-wrap align-content-center justify-content-center">
            <!-- 1st Column -->
            <div class="col-md-6 d-flex">
                <div class="card description-card card-design">
                    <div class="card-body">
                        <div class="border-0 mb-3">
                            <div class="card-body text-center">
                                <p class="first-paragraph">{{ content[0] }}</p>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Row -->
    </div>
    <!-- End of Main Content -->
{% endblock %}
