<!-- The 'Skills' page -->

{% extends "layout.html" %}

{% block head %}
    <!-- Inherit from 'layout.html' -->
    {{ super() }}
{% endblock %}

{% block title %}
    Skills
{% endblock %}

{% block main %}
    <!-- Background -->
    <img src="../static/images/trianglify_background.png" class="background position-fixed w-100 h-100 top-0 start-0" loading="lazy">
    <!-- End of Background -->
    <!-- Main Content -->
    <div class="container skills mb-5 pb-5">
        <!-- Title -->
        <div class="row mb-3">
            <div class="col-md-12 text-center">
                <h1 class="page-title">SKILLS</h1>
            </div>
        </div>
        <!-- End of Title -->
        <!-- Cards -->
        <div class="row justify-content-center">
            <!-- software Card -->
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card software-card card-design">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">software</h5>
                        <div class="row">
                            {% for software in skills %}
                                <div class="col-md-4 mb-3">
                                    <div class="card inner-card inner-card-design">
                                        <img src="{{ software.image }}" class="img-fluid card-img-top mx-auto d-block mt-2">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">{{ software.title }}</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- End of Main Content -->
{% endblock %}
